
/*Por Algum motivo esta merda nao esta funcionando*/
div.AboutDiv{
  box-sizing: border-box;
  height: 150vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(255, 255, 255);
}

/*No momento de producao deste codigo as className e .<class Name> simplesmente pararam de funcionar*/



div#imgDiv{
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(255,255,255);

  border-width: 0px;
  border-style: solid;
  border-color: black;

  margin:0px;
  padding: 0px;
}


p.aboutParagraph{
    color: rgb(80, 80, 80);
    font-size: 35px;

    margin: 0px;
    padding: 0px;

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(50, 50, 50);
  }

p#different{
  color: lightblue;
}


i#shit{
  font-size: 100px;
  color: red;
}
.imgDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratingDiv{
  display: none;
}

.imageSettings{
  height: 135px;
  width: 135px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

div.imgActived{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-width: 0px;
  border-style: solid;
  border-color: red;

  font-size: 15px;
}

div.softwareAbout{
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;
}

div.imageHolder{
  height: 100%;
  width: 33%;
}

div.bottomBorder{
  box-sizing: border-box;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(150, 150, 150);
  padding-bottom: 15px;
}

/*MeAbout Div*/

div.meAbout{
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;


}

p#meAboutHeader{
  box-sizing: border-box;
  font-size: 30px;
  color: rgb(80, 80, 80);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(30, 30, 30);
}

p.textMeAbout{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(100, 100, 100);
  font-size: 15px;
}

img.imageMeAbout{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
}
/*End of the meAbout Div*/


div.imageRow{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


#iconRate{
  font-size: 20px;
}


a.linkText{
  cursor: pointer;
}

#clickMoreAbout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  border-width: 1px;
  background-color: purple;
  opacity: 0.8;
  color: white;
  font-size: 15px;
  border-style: solid;
  border-color: purple;
  border-radius: 10%;
  cursor: pointer;
}


@media screen and (max-width: 800px){
  img.imageSettings{
      height: 100px;
      width: 100px;
      border-top-right-radius: 50%;
    }
    #iconRate{
      font-size: 15px;
    }
    p.textMeAbout{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: rgb(100, 100, 100);
      font-size: 15px;
    }
}


@media screen and (max-width: 590px){
  img.imageSettings{
      height: 80px;
      width: 80px;
      border-top-right-radius: 50%;
    }
    #iconRate{
      font-size: 12px;
    }

    p.textMeAbout{
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: rgb(100, 100, 100);
      font-size: 15px;
    }
  }

@media screen and (max-width: 400px){
img.imageSettings{
    height: 65px;
    width: 65px;
    border-top-right-radius: 50%;
  }
  #iconRate{
    font-size: 8px;
  }
  p.textMeAbout{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(100, 100, 100);
    font-size: 15px;

    box-sizing: border-box;
  }
}
