div.homeDiv{
  height: 100vh;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(28, 34, 49);
  border-width: 0px;
  border-style: solid;
  border-color: red;

  margin: 0px;
  padding:0px;
}

div.homeContent{
  box-sizing: border-box;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin:0px;
  padding:0px;
}

div.homeTextDiv{

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  justify-content: center;
  align-items: flex-start;

  border-width: 0px;
  border-style: solid;
  border-color: white;

  padding: 0px;
  margin: 0px;
}

span#Home{
  color: rgb(227, 27, 109);
}
div.clickableDiv{
  height: 50px;
  width: 50%;

  background-color: rgb(255, 255, 255);
  animation-name: Opacity;
  animation-duration: 3s;
  animation-iteration-count: infinite;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



div.roundDiv{
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

div#roundDivOne{
  position: relative;
  right: 25px;
}

div#roundDivTwo{
  position: relative;
  left: 25px;
}

p.activeBorder{
  box-sizing: border-box;
  border-bottom-width: 10px;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.activeClickableDiv{
  cursor: pointer;
  color: white;
}

@keyframes Opacity{
  from{
    opacity: 1;
  }
  to{
    opacity: 0.6;
  }
}
@media screen and (min-width: 1040px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 33px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 5px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 18px;
  }

  div.roundDiv{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  div#roundDivOne{
    position: relative;
    right: 25px;
  }

  div#roundDivTwo{
    position: relative;
    left: 25px;
  }

}

@media screen and (min-width: 1040px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 33px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 5px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 18px;
  }

  div.roundDiv{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  div#roundDivOne{
    position: relative;
    right: 25px;
  }

  div#roundDivTwo{
    position: relative;
    left: 25px;
  }

}

@media screen and (max-width: 1039px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 25px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 3px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 14px;
  }

  div.roundDiv{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  div#roundDivOne{
    position: relative;
    right: 25px;
  }

  div#roundDivTwo{
    position: relative;
    left: 25px;
  }

}

@media screen and (max-width: 799px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 22px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 2px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 11px;
  }

  div.roundDiv{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  div#roundDivOne{
    position: relative;
    right: 25px;
  }

  div#roundDivTwo{
    position: relative;
    left: 25px;
  }
}

@media screen and (max-width: 610px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 19px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 9px;
  }
}

@media screen and (max-width: 510px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 15px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 7px;
  }
}

@media screen and (max-width: 400px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 13px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 6px;
  }
}

@media screen and (max-width: 350px){
  p.homeParagraph{
    font-family:   sans-serif;
    font-size: 10px;
    color: white;

    border-width: 0px;
    border-style: solid;
    border-color: white;

    margin: 0px;
    padding: 0px;
  }

  p.activeBorder{
    padding-right: 3px;
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
  }

  p.roundDivParagraph{
    color: rgb(50, 50, 50);
    font-size: 2px;
  }
}
