.navBarDiv{
  height: 7vh;
  width: 100%;
  box-sizing: border-box;

  background-color: rgb(28, 34, 60);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: lightblue;

  display: none;
  margin: 0px;
  padding: 0px;
}

.activatedBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  animation-name: navBarShowUp;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.fixedBar{
  position: fixed;
  top: 0px;
}
.locateContent{
  position: relative;
  top: 30%;
}

.deactivatedBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  animation-name: navBarHidden;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.linkText{
  text-decoration: none;
  color: white;
}
.activatedLink{
  text-decoration: none;
  color: rgb(227, 27, 109);
}

@keyframes navBarHidden {
  from{
    position: relative;
    right: 0px;
  }
  to{
    position: relative;
    right: 2000px;
  }
}
@keyframes navBarShowUp {
  from{
    position: relative;
    right: 1000px;
  }
  to{
    position: relative;
    right: 0px;
  }
}

#testDiv{
  height: 100%;
  width: 10px;
  border-width: 1px;
  border-color: red;
  border-style: solid;
}
