
body{
  box-sizing: border-box;
  width: 99.2159vw;

  padding: 0px;
  margin: 0px;

  border-width: 0px;
  border-style: solid;
  border-color: red;
}

.container{
  height: 100vh;
  width: 100%;
  box-sizing: border-box;

  padding: 0px;
  margin: 0px;

  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 10, 10);

}


/*Navigation Bar  Start HERE*/
div.navigationBar{
  box-sizing: border-box;
  height: 7vh;
  width: 100%;

  position: sticky;
  top: 0px;
  background-color:  rgb(25, 36, 55);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: lightblue;

  padding: 0px;
  margin: 0px;


  overflow: visible
}

div.navBox{
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  position: relative;
  right: 400px;
}
p#navBar{
  color: white;
  font-size: 20px;

  border-width: 0px;
  border-style: solid;
  border-color: blue;

  margin:0px;
  padding: 0px;
}

a.navBar{
  color:white;
  text-decoration: none;
}
/*Navigation Bar ENDS HERE*/

div#About{
  background-color: rgb(255,255,255);
}

div#Porfoltio{
  background-color: rgb(10,180,10);
}

div#Contact{
  background-color: rgb(50,50,50);
}

div#About{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p#about{
  color: rgb(110, 110, 110);
  font-size: 40px;

  margin: 0px;
  padding: 0px;


  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(80, 80, 80);
}

div#images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(255,255,255);
  margin:0px;
  padding:0px;
}


img.image{
  height: 200px;
  width: 200px;

  border-radius: 50%;
}

p.title{
 font-size: 30px;
 color: rgb(255,255,255);
 border-bottom-width: 2px;
 border-bottom-color: rgb(255, 255, 255);
 border-bottom-style: solid;

}

div#Portfolio{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: rgb(200,200,200);

  padding: 50px;
}

div#Contact{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

a.active{
  animation-name: linkColor;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  color: rgb(227, 27, 109);
}

@keyframes linkColor{
  from{
    color:rgb(255, 255, 255);
  }
  to{
    color: rgb(227, 27, 109);
  }
}

div#Contact{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
form.contactForm{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

}
div.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
div.inputForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  color: rgb(100, 100, 100);
}
input.inputBox{
  box-sizing: border-box;
  height: 30px;
  width: 250px;
  background-color: rgb(80, 80, 80);

  padding:0px;
  margin: 0px;

  color: rgb(200, 200, 200);
  font-size: 17px;

  border-width: 2px;
  border-style: solid;
  border-color: white;
}

form.formContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#inputStyle{
  width: 400px;
}
div.footer{
  width: 99vw;
  height: 20vh;

  margin: 0px;
  padding: 0px;
}
footer.base{
  height: 100%;
  width: 100%;
  background-color: rgb(80, 80, 80);
  padding: 0px;
  margin:0px;
}
